@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);


.contBox{
    border: 1px black solid;
    float: left;
    height: 40%; 
    padding: 10px;   
    background-color: white;
    border: solid 2px  #fff; 
    transition:  border 0.6s linear;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;



    
}
#rightbox{
    background: url(steel.jpg);
    background-size: contain;
   
    
}

#firstWrongImg{
    background: url(firsterror.gif);
    background-size: contain;
}

#secondWrongImg{
    background: url(streetfighttwo.gif);
    background-size: contain;
}

#thirdWrongImg{
    background: url(streetfightthree.gif);
    background-size: contain;
}

#fourthWrongImg{
    background: url(therockfourth.gif);
    background-size: contain;
}

#fifthWrongImg{
    background: url(rockyfifth.gif);
    background-size: contain;
}

#sixthWrongImg{
    background: url(boyzinthehoodsixth.gif);
    background-size: contain;
}

#leftbox{
    background: url(tvscreen.gif);
    background-size: contain;
}

#winner{
    background: url(rockycelebration-winner.gif);
    background-size: contain;
}

#rightAnswer{
    background: url(pineappleexpress-rightanswer-one.jpg);
    background-size: contain;
}

.placeHolderBox{
    border: 1px black solid;
    height: 20px;
    float: left;
    width: 100%;
    font-size: 10px;
    text-align: center;
    opacity: 0;
    
}
.cont2MainBox{
    border: 1px black solid;
    height: 950px;
    padding: 40px 40px 0;

}

.dreams {
    position: absolute;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 55px;
    color: #F975F7 ;
    transform:rotate(-5deg);
    -ms-transform:rotate(-5deg); /* IE 9 */
    -webkit-transform:rotate(-5deg); /* Safari and Chrome */
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    z-index: 20;
  }
  

.footerbox{
    border: 1px black solid;
    bottom: 0;
    height: 60px;
    margin: 0;
    position: fixed;
    width: 2200px;
    background-color: black;
}

.gameTitle{
    border: 1px black solid;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 50px 0 100px 0;
}

.headerRow {

    width: 100%;
    height: 160px;
    padding: 20px 0 100px 0;
    text-align: center;
    background: url(steel.jpg);
    background-size: contain;
    border: solid 20px black;
    position: fixed;
    top: 0;
    
}
.hangmanStyle{
    font-size: 30px;
    margin: 10px 0 10px 0;
}

.inputBoxStyle{
    width: 49%;
    
}

.pickMoviesbtn{
    width: 49%;
    float: left;
}

.pickMusicbtn{
    width: 49%;
    float: right;
}

.startGamebtn{
    width: 100%;
    margin: 10px 0 10px 0; 
}



.test {
    position: absolute;
    top: 160px;
    padding: 0;
    width: 100%;
    background: url(brickwallpayphone.jpg);
    background-size: contain;
}

.writeup{
    position: relative;
    margin: 0px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #F975F7 ;
    -webkit-text-stroke: 1px #f008b7;
    -webkit-filter: drop-shadow(1px 1px 10px #f008b7);
    z-index: 20;
}